# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [16]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [33]:
cars1 = pd.read_csv('cars1.csv')

In [34]:
cars2 = pd.read_csv('cars2.csv')

In [35]:
cars1

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [36]:
cars2

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [37]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [38]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [41]:
cars = pd.concat([cars1 , cars2])

In [42]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [43]:
owners = np.random.randint(15000 , 73000 , 398)

### Step 8. Add the column owners to cars

In [44]:
owners

array([71927, 63735, 61177, 62343, 45373, 68524, 34435, 59804, 22152,
       62155, 63363, 68839, 35487, 35899, 16855, 38652, 18297, 16035,
       18191, 72277, 67687, 22124, 20322, 38429, 55233, 59095, 18617,
       40643, 16920, 35866, 47824, 25621, 36958, 21041, 70491, 51369,
       59055, 30729, 27611, 42034, 28671, 49709, 62687, 37429, 37253,
       52147, 63949, 31902, 65940, 52414, 72139, 48401, 45248, 32562,
       16517, 43561, 45319, 62592, 70726, 16248, 36125, 70909, 31944,
       29242, 39350, 38377, 69243, 19191, 46249, 21971, 27725, 49441,
       18328, 24244, 29649, 70885, 23120, 31718, 69899, 63254, 71668,
       49078, 20961, 61964, 15678, 54969, 28373, 51125, 46860, 60003,
       24878, 55462, 52339, 47993, 54139, 44588, 58277, 24138, 42954,
       26139, 48175, 28358, 66356, 32232, 33381, 51980, 33891, 34405,
       33317, 62976, 55583, 66184, 33778, 32521, 27645, 53412, 44182,
       29487, 60391, 54752, 70686, 54412, 21494, 35962, 46715, 50905,
       15479, 38394, 28814, 19017, 63624, 56702, 52458, 64322, 65297,
       28922, 67006, 42551, 40349, 30693, 68122, 33050, 36470, 30585,
       71429, 49771, 67206, 19787, 68252, 39196, 18335, 18210, 49047,
       62550, 24182, 17382, 61869, 33177, 67189, 71419, 46866, 27479,
       64523, 43089, 33239, 31845, 49378, 27660, 70496, 31576, 57020,
       43139, 42543, 15504, 72328, 69549, 17584, 64216, 58525, 40718,
       25341, 30048, 45452, 59259, 22919, 15085, 15206, 52860, 27319,
       29832, 23670, 53578, 32974, 42078, 71350, 69541, 63037, 64020,
       56238, 53011, 37218, 23396, 32954, 50662, 45790, 65277, 55200,
       34925, 56866, 16938, 65005, 53626, 55247, 53547, 57254, 50808,
       28240, 71127, 67484, 24200, 27065, 70719, 52360, 25140, 36842,
       51471, 62233, 71602, 34000, 30845, 27436, 44873, 42515, 56790,
       54019, 47038, 31906, 44502, 39451, 67464, 65187, 67259, 36024,
       55089, 18658, 18393, 53954, 31557, 71773, 57549, 43425, 59696,
       31271, 25314, 17800, 39378, 41930, 46342, 18265, 63513, 29418,
       42893, 36047, 21620, 32871, 26504, 18780, 41859, 43267, 61527,
       46414, 70034, 69936, 28950, 56477, 29452, 48893, 61884, 17694,
       40502, 50667, 68451, 31083, 16947, 19979, 26139, 49241, 61588,
       31924, 41428, 22738, 49865, 19231, 60293, 15779, 47847, 27931,
       65317, 43550, 43377, 69642, 26161, 52083, 68443, 26463, 47288,
       36298, 39269, 70070, 54620, 22587, 33827, 21075, 53543, 22153,
       56764, 19646, 39697, 71599, 30193, 54729, 22396, 65269, 52349,
       68270, 54214, 27436, 18437, 66585, 35741, 18462, 59308, 51959,
       59737, 50148, 41445, 58391, 23052, 44911, 16278, 61733, 58480,
       58475, 56837, 25369, 56945, 66885, 19940, 65934, 60069, 41260,
       41864, 56477, 51253, 39573, 39499, 63107, 63926, 50005, 40659,
       50214, 60641, 50288, 35779, 66515, 34681, 42055, 32614, 18817,
       62305, 62146, 27660, 36825, 65773, 15172, 59966, 70256, 63109,
       52665, 28419, 70316, 32551, 68829, 53875, 53057, 72333, 37934,
       42014, 68155, 24180, 28095, 20797, 41495, 69792, 15446, 63170,
       23893, 37746])